<h1>Existing account</h1>
<form action="/checkout/existing-user/complete" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="firstName">Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>