<h1>Checkout</h1>

<ul>
    <li><a href="/checkout/existing-user">Sign in</a></li>
    <li><a href="/checkout/new-user">Create account</a></li>
    <li><a href="/checkout/guest">Checkout as guest</a></li>    
    <li><a href="/checkout/facebook">Checkout with Facebook</a></li>  
</ul>