<h1>Guest Checkout</h1>
<form action="/customer/new/complete" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="firstName">Password</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
</form>