<h1>Welcome back</h1>
<p>You've previously checked out as as guest with {{email}}, would you like to create an account?</p>
<a href="/customer/new?id={{email}}">Create account</a>
<a href="/customer/guest/continue?id={{email}}">Continue as guest</a>