<h1>Checkout</h1>

<ul>
    <li><a href="/customer/existing">Sign in</a></li>
    <li><a href="/customer/new">Create account</a></li>
    <li><a href="/customer/guest">Checkout as guest</a></li>    
    <li><a href="/customer/facebook">Checkout with Facebook</a></li>  
</ul>